.css .tna-button {
    background-color: #26262a;
    color: #fff;
    border: 2px solid #26262a;
    padding: 0.5em 0.9em;
    display: inline-block;
    min-width: 24px;
    text-align: center;
    cursor: pointer;
}

.css .tna-button:hover {
    background-color: #fff;
    color: #26262a;
    text-decoration: none;
}

.css body    {
    font-family: "Open Sans", sans-serif;
}

.css nav {
    margin-bottom: 2em;
}
.css h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
}
.css h1 {
    margin-bottom: 1em;
}
.css .card {
    margin-bottom: 2em;
}
.css h2 {
    font-size: 1.8rem;
    margin-top: 1em;
    margin-bottom: 1em;
}
.css h3 {
    font-size: 1.4rem;
}
.css h4 {
    font-size: 1.3rem;
}
.css a {
    color: #134571;
    display: inline-block;
    text-decoration: underline;
}
.css a:hover {
    background-color: #134571;
    color: #ffffff;
    outline: 1px solid #134571;
    text-decoration: underline;
}

.css .tna-form-row {
    width: 100%;
    max-width: 480px;
    min-width: 220px;
    border: 2px solid #26262a;
    padding: 8px;
    text-indent: 5px;
}

.css .expando {
    display: none;
    margin-top: 2em;
}

.css .expando:target {
    display: block;
}

.css .expand-list {
    padding-left: 0;
    margin-top: 2em;
    margin-bottom: 1em;
}

.css .expand-list li {
    list-style: none;
}

.css figure {
    text-align: center;
}
