body {
  font-family: "Open Sans", sans-serif;
}

nav {
  margin-bottom: 2em;
}
h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}
h1 {
  margin-bottom: 1em;
}
.card {
  margin-bottom: 2em;
}
h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.3rem;
}
a {
  color: #1d70b8;
}
.masonry h3 {
  font-size: 1.2em;
  font-weight: bold;
}
.image-placeholder {
  background-color: #ddd;
  width: 500px;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em !important;
}

.masonry {
  /* Masonry container */
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 4.5em;
  font-size: 0.85em;
}
.item {
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1em;
  width: 100%;
  -webkit-transition: 0.5s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #efefef;
}
.item img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
form {
  margin-bottom: 3em;
}
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

.showcase {
  margin-top: 2em;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  background: #eee;
  padding: 0.5em 3em 1em;
}
.center {
  margin: 0 auto;
  display: block;
  width: 500px;
}
@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 992px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 1200px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
